.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border: 0.8px solid white;
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wall {
  background-color: #36454f;
}
.pathfinding {
  background-color: #d3d3d3;
}
.shortestPath {
  background-color: #ffd700;
}
