.cell {
    aspect-ratio: 1;
    border: 0.8px solid #7DF9FF;
    width: 100%;
}
.start {
    background-color: rgb(23, 183, 23);
}
.end {
    background-color: rgb(226, 43, 43);
}
.wall {
    background-color: #36454F;
}
.pathfinding {
    background-color: #D3D3D3;
}
.shortestPath {
    background-color: #FFD700;
}