.cell {
    aspect-ratio: 1;
    border: 0.5px solid rgb(143, 143, 211);
    width: 100%;
}
.start {
    background-color: rgb(23, 183, 23);
}
.end {
    background-color: rgb(226, 43, 43);
}
.wall {
    background-color: black;
}
.pathfinding {
    background-color: rgb(189, 189, 242);
}
.shortestPath {
    background-color: rgb(235, 235, 122);
}