
.info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    
}
.stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 30px;
    h3 {
        margin-right: 20px;
    }
}